<% @tag_title = "Minha conta" %>

<div class="row">
  <div class="col-lg-4 col-md-6">
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
      <%= devise_error_messages! %>


      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <div class="alert alert-warning">Aguardando confirmação de: <%= resource.unconfirmed_email %></div>
      <% end %>

      <h3>Altere sua senha</h3>
      <div class="form-group">
        <%= f.password_field :password, autocomplete: "off", class: 'form-control', placeholder: 'Nova senha'  %>
      </div>

      <div class="form-group">
        <%= f.password_field :password_confirmation, autocomplete: "off", class: 'form-control', placeholder: 'Nova senha novamente'  %>
      </div>

      <hr>

      <h3>Atualize seus dados</h3>
      <div class="form-group">
        <%= f.email_field :email, class: 'form-control', placeholder: 'Email Address' %>
      </div>

      <div class="form-group">
        <%= f.password_field :current_password, autocomplete: "off", class: 'form-control', placeholder: 'Senha atual'  %>
        <p class="form-text text-muted"><small>Caso faça modificações</small></p>
      </div>

      <div class="form-group">
        <%= f.submit "Salvar", class: 'btn btn-lg btn-block btn-primary' %>
      </div>
    <% end %>
    <hr>

    <p class="text-center"><%= link_to "Desativar conta", registration_path(resource_name), data: { confirm: "Tem certeza? Isso não pode ser desfeito." }, method: :delete %></p>
  </div>
</div>
