<% @tag_title = "Assinaturas" %>
<% @tag_subtitle = "Acompanhe aqui suas assinaturas de planos de contribuição mensal" %>
<% @counter = @subscriptions.length %>

<% if @subscriptions.empty? %>

<%= link_to "Assine o nosso plano de contribuição mensal", new_subscription_path, class: "btn btn-primary btn-block" %>

<% else %>
<%= link_to "Assinar contribuição mensal", new_subscription_path, class: "btn btn-primary" %>

<table data-toggle="table" class="table">
  <thead>
    <tr>
      <th data-field="counter" data-sortable="true" scope="col">#</th>
      <th data-field="id" data-sortable="true" scope="col">ID</th>
      <th data-field="value" data-sortable="true" scope="col">Valor</th>
      <th data-field="active" data-sortable="true" scope="col">Ativa</th>
      <th data-field="date" data-sortable="true" scope="col">Data Assinatura</th>
    </tr>
  </thead>
  <tbody>
    <% @subscriptions.each do |subscription| %>
    <tr>
      <td><%= @counter %></td>
      <td><%= subscription.id %></td>
      <td><%= format_currency subscription.value %></td>
      <td><% if subscription.active %>Sim<% else %>Não<% end %></td>
      <td><%= subscription.created_at.to_s(:custom_datetime) %></td>
    </tr>
    <% @counter = @counter - 1 %>
    <% end %>
  </tbody>
</table>
<% end %>

<%= javascript_include_tag "bootstrap-table/bootstrap-table.js" %>
