<% @tag_title = "Contribuições" %>
<% @tag_subtitle = "Acompanhe aqui seu histórico de contribuições" %>
<% @counter = @payments.length %>

<% if @payments.empty? %>

<%= link_to "Faça sua primeira contribuição", new_payment_path, class: "btn btn-primary btn-block" %>

<% else %>
<%= link_to "Nova contribuição única", new_payment_path, class: "btn btn-primary" %>
<%= link_to "Assinar contribuição mensal", new_subscription_path, class: "btn btn-primary" %>

<table data-toggle="table" class="table">
  <thead>
    <tr>
      <th data-field="counter" data-sortable="true" scope="col">#</th>
      <th data-field="id" data-sortable="true" scope="col">ID</th>
      <th data-field="value" data-sortable="true" scope="col">Valor</th>
      <th data-field="date" data-sortable="true" scope="col">Data</th>
    </tr>
  </thead>
  <tbody>
    <% @payments.each do |payment| %>
    <tr>
      <td><%= @counter %></td>
      <td><%= payment.id %></td>
      <td><%= format_currency payment.value %></td>
      <td><%= payment.created_at.to_s(:custom_datetime) %></td>
    </tr>
    <% @counter = @counter - 1 %>
    <% end %>
  </tbody>
</table>
<% end %>

<%= javascript_include_tag "bootstrap-table/bootstrap-table.js" %>
