<% @tag_title = "Novo pagamento" %>

<%= form_for @payment do |f| %>
  <div class="form-group col-md-6 row">
    <%= f.label :value, "Valor", class: "col-form-label col-3" %>
    <%= f.text_field :value, placeholder: "500.00", class: "form-control col-9 mb-3", autocomplete: "off" %>

    <%= f.text_field :card_number, placeholder: "NÚMERO DO CARTÃO", class: "form-control" %>
    <%= f.text_field :card_holder_name, placeholder: "NOME DO PORTADOR", class: "form-control" %>
    <%= f.text_field :card_expiration_month, placeholder: "MÊS (MM)", class: "form-control col-4" %>
    <%= f.text_field :card_expiration_year, placeholder: "ANO (YYYY)", class: "form-control col-4" %>
    <%= f.text_field :card_cvv, placeholder: "CVV", class: "form-control col-4" %>
    <%= f.hidden_field :card_hash %>

    <%= f.submit "Confirmar Pagamento", class: "btn btn-block btn-primary" %>
  </div>

<% end %>