<% @tag_title = "Nova contribuição" %>
<% @tag_subtitle = "Aceitamos cartões Visa, Mastercard, Amex, Elo, Hipercard, Diners, Discover, Aura e JCB" %>

<%= form_for @payment do |f| %>
  <div class="form-group col-md-6 row">

    <% if !user_signed_in? %>
      <label for="user-email" class="col-form-label col-3">Email</label>
      <input class="form-control col-9 mb-3" name = "user-email" required>
      <label for="user-email-confirmation" class="col-form-label col-3">Email Confirmation</label>
      <input class="form-control col-9 mb-3" name = "user-email-confirmation" required>
    <% end %>

    <%= f.label :value, "Valor", class: "col-form-label col-3" %>
    <%= f.text_field :value, class: "form-control col-9 mb-3 input-currency", autocomplete: "off", required: true %>

    <div class="card-js" data-capture-name="true" data-icon-colour="#158CBA">
      <input class="name" name="card-holders-name" placeholder="Name on card" required>
      <input class="expiry-month" name="expiry-month" required>
      <input class="expiry-year" name="expiry-year" required>
      <input class="cvc" name="cvc" required>
    </div>

    <%= f.submit "Enviar", class: "btn btn-block btn-primary mt-3" %>
  </div>
<% end %>

<%= javascript_include_tag "vendor/card-js.min.js" %>
<%= javascript_include_tag "mask/jquery.maskMoney.min.js" %>
<%= javascript_include_tag "mask_currency_field.js" %>