<!DOCTYPE html>
<html>
  <head>
    <title>Minerva</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'layouts/shared/navbar' %>

    <div class="container-fluid mt-3">
      <div class="row">
        <div class="col-3">
          <%= render 'layouts/shared/sidebar' %>
        </div>

        <div class="col-9">
          <div class="card">
            <div class="card-header">
              <h5 class="h1 card-title"><%= @tag_title %></h5>
              <h6 class="card-subtitle mb-2 text-muted"><%= @tag_subtitle %></h6>
            </div>
            <div class="card-body">
              <p class="card-text">
                <%= yield %>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
